.footer {
    background-color: #272727;
    height: 64px;
    color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.header {
	height: 72px;
	box-shadow: 0 8px 10px -3px #a9a2a2;
	line-height: 36px;
}

.margin-top-page {
    margin-top: 72px;
}

.main-container {
    margin-top: 72px;
    height: 320px;
    width:  100%;
    background-image: url('../images/libraryimage.jpg'); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 0.9;
    min-height: calc(100vh - 72px - 64px);
  }

  
.form-group.required .control-label:before{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -15px;
  }
  